.content-wrapper.basic-edit {
}


/* Index */

.content-wrapper.basic-edit table th {
	text-align: center;
}
.content-wrapper.basic-edit table th.icon {
	width: 56px;
}
.content-wrapper.basic-edit table th.name {
}
.content-wrapper.basic-edit table th.edit {
	width: 100px;
}
.content-wrapper.basic-edit table td.icon {
	text-align: center;
	vertical-align: middle;
}
.content-wrapper.basic-edit table td.icon i {
	font-size: 26px;
}
.content-wrapper.basic-edit table td.icon img {
	width: 28px;
	height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content-wrapper.basic-edit table td.name {
	padding-left: 22px;
	vertical-align: middle;
}
.content-wrapper.basic-edit table td.name small {
	color: #bababa;
	font-size: 10px;
}
.content-wrapper.basic-edit table td.name span {
	margin-left: 12px;
}
.content-wrapper.basic-edit table td.edit {
	vertical-align: middle;
}
.content-wrapper.basic-edit table {
}


/* Edit */

.content-wrapper.basic-edit form {
}
.content-wrapper.basic-edit form button {
	margin: 6px;
}
.content-wrapper.basic-edit form input.icon {
	width: 90%;
}
.content-wrapper.basic-edit form textarea.description {
	height: 60px;
}
.content-wrapper.basic-edit form textarea.description.large {
	height: 160px;
}
.content-wrapper.basic-edit form i.icon-preview {
	border: dotted 1px #CCCCCC;
	margin-top: 0px;
	font-size: 22px;
	width: 34px;
	height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	line-height: 34px;
	padding-left: 2px;
}
.content-wrapper.basic-edit form small {
	display:block;
	clear:both;
	text-align:right;
}
