.center {
	text-align: center;
}

a.new {
	margin-bottom: 6px;
}
a.new i {
	margin-left: 6px;
}


a[target="_blank"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-left: 3px;
}

table.selector-table {
}
table.selector-table th {
}
table.selector-table td {
}
table.selector-table td small {
	display: inline !important;
	font-size: 10px;
	color: #CCC;
}
table.selector-table td img.icon {
	width: 34px;
	height: 34px;
}
